@use "../../scss/abstracts/" as *;
.topnav {
   width: 100vw;
   z-index: 100;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-color: white;
   color: black;
   align-items: center;
   img {
      width: 100px;
      cursor: pointer;
   }
}
